@model MyBazar.Entities.Category
@{
    ViewBag.Title = "Edit";
}

<h2>Edit Category</h2>
<form method="post">
    <label>Name</label>
    <input name="Name" value="@Model.Name"/>
    <br />
    <input type="hidden" name="ID" value="@Model.ID"/>
    <label>Description</label>
    <input name="Description" value="@Model.Description" />
    <br />
    <br />
    <button type="submit" class="btn btn-primary">Update</button>
</form>


